body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,240,255,1) 0%, rgba(180,220,235,1) 25%, rgba(160,200,215,1) 50%, rgba(140,180,195,1) 75%, rgba(120,160,175,1) 100%);
}

h1 {
    font-size: 36pt;
    margin: 50px 0px 25px 0px;
    color: grey;
    text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em lightgrey;
}

ul li {
    height: 50px;
    width: 730px;
    border: 1px solid grey;
    padding: 5px 0px 0px 10px;
    margin: auto;
}

ul {
    text-align: start;
    font-weight: bold;
    list-style: none;
    height: 50px;
    width: 730px;
    margin: auto;
    margin-top: 50px;
    padding: 0px;
}

input {
    height: 38px;
    width: 600px;
    margin-right: 10px;
    border: 1px solid grey;
    padding: 10px;
    border: solid grey 1px;
    list-style: none;
    background: linear-gradient(lightgrey, white, lightgrey, white);
}

.btn-success {
    width: 120px;
    margin-bottom: 3px;
}

.btn-danger {
    float: right;
    margin-right: 5px;
}

.postTodo {
    margin: auto;
    width: 730px;
}